<!DOCTYPE html><html lang="en"><html> <head>  <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Unnat Bharat Abhiyan</title> <link> <script src="https://unpkg.com/axios/dist/axios.min.js"></script><script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.min.js"></script> </head> <body> <div id="main" class="container-fluid"> <div id="loader" v-if="isLoading"> <div class="spinner"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1" width="32px" height="32px" viewBox="0 0 28 28"> <g class="qp-circular-loader"> <path class="qp-circular-loader-path" fill="none" d="M 14,1.5 A 12.5,12.5 0 1 1 1.5,14" stroke-linecap="round"/> </g> </svg> </div></div>


  <div id="app" v-if="!isLoading && !is_showing" style="padding: 40px;">


    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body" style="overflow: auto;">
            <pre v-html="details"></pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div style="background: white;padding: 30px;" class="card col-sm-2"><b><center><img src="http://unnat.iitd.ac.in/app/webroot/images/logo.png"></center></b></div>
      <div style="background: white;padding: 30px;" class="card col-sm-8 col-sm-offset-2">



        <b>Total data submitted: <span style="font-family: 'Open Sans', sans-serif;" v-html="number_of_data"></span></b>

      </div>

      <div v-if="is_table_needed" style="background: white;padding: 30px; margin-top: 30px;margin-bottom: 30px;" class="card table-responsive col-sm-12">
        <table class="table table-striped" >
          <thead>
          <tr>
            <th>ID</th>
            <th>Submitted by</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody v-for="item in data_list">
          <tr>
            <td style="font-family: 'Open Sans', sans-serif;" v-html="item._id"></td>
            <td v-html="item.submitted_by"></td>
            <td>
              <button v-if="!is_mobile" @click="show_item(item)" href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Read</button>
              <button v-if="is_mobile" @click="show_item(item)" class="btn btn-primary">Read</button>
              <!--<button class="btn btn-success"> Edit</button> -->
              <button class="btn btn-danger" @click="delete_data(item)"> Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="row" v-if="is_showing">
    <div class="col-sm-1 col-sm-offset-11">
      <button type="button" @click="close_data" class="btn btn-danger">Close</button>
    </div>
    <div class="col-sm-12">
      <pre v-html="details"></pre>
    </div>
  </div>

  </div></body><style>.spinner{margin:10px 20px;text-align:center;display:inline-block}.spinner svg{background-color:rgb(255,255,255);border-radius:50%;padding:8px;box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)}.qp-circular-loader{width:64px;height:64px;stroke-width:3px}.qp-circular-loader-path{stroke-dasharray:58.9;stroke-dashoffset:58.9}.qp-circular-loader,.qp-circular-loader *{-webkit-transform-origin:50% 50%;transform-origin:50% 50%}@-webkit-keyframes rotate{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}@keyframes rotate{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}.qp-circular-loader{-webkit-animation-name:rotate;animation-name:rotate;-webkit-animation-duration:1568.63ms;animation-duration:1568.63ms;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-timing-function:linear;animation-timing-function:linear}@-webkit-keyframes fillunfill{from{stroke-dashoffset:58.8}50%{stroke-dashoffset:0}to{stroke-dashoffset:-58.4}}@keyframes fillunfill{from{stroke-dashoffset:58.8}50%{stroke-dashoffset:0}to{stroke-dashoffset:-58.4}}@-webkit-keyframes rot{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(-360deg)}}@keyframes rot{from{transform:rotate(0deg)}to{transform:rotate(-360deg)}}@-webkit-keyframes colors{0%{stroke:#754fa0}20%{stroke:#09b7bf}40%{stroke:#90d36b}60%{stroke:#f2d40d}80%{stroke:#fcb12b}100%{stroke:#ed1b72}}@keyframes colors{0%{stroke:#754fa0}20%{stroke:#09b7bf}40%{stroke:#90d36b}60%{stroke:#f2d40d}80%{stroke:#fcb12b}100%{stroke:#ed1b72}}.qp-circular-loader-path{-webkit-animation-name:fillunfill,rot,colors;animation-name:fillunfill,rot,colors;-webkit-animation-duration:1333ms,5332ms,5332ms;animation-duration:1333ms,5332ms,5332ms;-webkit-animation-iteration-count:infinite,infinite,infinite;animation-iteration-count:infinite,infinite,infinite;-webkit-animation-timing-function:cubic-bezier(.4,0,.2,1),steps(4),linear;animation-timing-function:cubic-bezier(.4,0,.2,1),steps(4),linear;-webkit-animation-play-state:running,running,running;animation-play-state:running,running,running;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}</style>

<script>
    download_js(window.location.origin+"/UBA/scripts/app.js");
    function downloadJSAtOnload(src) {
        var element = document.createElement("script");
        element.src = src;
        document.body.appendChild(element);
    }
    function download_js(src) {
        if (window.addEventListener){
            window.addEventListener("load", downloadJSAtOnload(src), false);
        }
        else if (window.attachEvent){
            window.attachEvent("onload", downloadJSAtOnload(src));
        }
        else window.onload = downloadJSAtOnload(src);
    }
</script></html>
